<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @user.birthday %>
</p>

<p>
  <strong>Address:</strong>
  <%= @user.address %>
</p>

<p>
  <strong>Postal code:</strong>
  <%= @user.postal_code %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %> | 
<%= link_to 'Create Post', new_post_path(:id=>@user.id) %>

<br>

<table>
  <thead>
    <tr>
      <th>Message</th>
      <th>Date</th>
      <th>Edit</th>
      <th>Delete</th>
    <tr>
  <thead>

  <tbody>
    <% @user.posts.each() do |post| %>
      <tr>
        <td> <%= post.msg %> </td>
        <td> <%= post.datepost %> </td>
        <td> <%= link_to 'Edit', edit_post_path(post)%> </td>
        <td> <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %>
      </tr>
    <% end %>
  </tbody>
</table>